body{
margin:0;
background:black;
color:#b3ff00;
font-family:"Courier New", monospace;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;

filter: brightness(1.2) contrast(1.1);
}

/* hazy blur */

body::before{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:
radial-gradient(
circle at center,
rgba(0,255,0,.08),
rgba(0,0,0,.6)
);

mix-blend-mode: screen;
pointer-events:none;
}

/* scanlines */

body::after{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:
repeating-linear-gradient(
to bottom,
rgba(0,255,0,.07),
rgba(0,255,0,.07) 1px,
transparent 2px,
transparent 4px
);

pointer-events:none;
}

/* flicker */

@keyframes flicker{
0%{opacity:1}
50%{opacity:.95}
100%{opacity:1}
}

.terminal{
width:90%;
max-width:420px;
text-align:center;

text-shadow:
0 0 1px #9dff00,
0 0 3px #8ce201,
0 0 8px #6daf02;

animation:flicker .12s infinite;
filter: blur(.3px);
}

/* boot phase */

#boot{
text-align:left;
font-size:14px;
white-space:pre-wrap;
}

/* glitch */

.glitch{
position:relative;
display:inline-block;
color:#b3ff00;
font-size:28px;
}

.glitch::before,
.glitch::after{
content:attr(data-text);
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
overflow:hidden;
}

.glitch::before{
color:#d0ff00;
animation:glitch1 .35s infinite linear alternate-reverse;
}

.glitch::after{
color:#e5ff00;
animation:glitch2 .35s infinite linear alternate-reverse;
}

@keyframes glitch1{
0%{transform:translate(-1px,-1px)}
25%{transform:translate(1px,1px)}
50%{transform:translate(-1px,1px)}
75%{transform:translate(1px,-1px)}
100%{transform:translate(0,0)}
}

@keyframes glitch2{
0%{transform:translate(1px,0)}
25%{transform:translate(-1px,-1px)}
50%{transform:translate(1px,1px)}
75%{transform:translate(-1px,1px)}
100%{transform:translate(0,0)}
}

/* menu */

.menu{
display:none;
flex-direction:column;
gap:18px;
margin-top:30px;
}

.menu button{
background:#192400;
border:2px solid #b3ff00;
color:#b3ff00;
padding:16px;
font-size:18px;
cursor:pointer;
transition:.2s;
}

.menu button:hover{
background:#b3ff00;
color:black;
}

/* game screen */

.game-screen{
display:none;
margin-top:20px;
}

.back{
margin-top:25px;
border:1px solid #b3ff00;
padding:10px;
cursor:pointer;
}

.typing{
white-space:pre-line;
min-height:100px;
}
.footer{
position:fixed;
bottom:10px;
width:100%;
text-align:center;
font-size:12px;
color:#b3ff00;
opacity:0.7;

text-shadow:
0 0 3px #b3ff00,
0 0 6px #b3ff00;
}
/*aim trainer*/
.aim-target {
    transition: transform 0.1s;
}

.aim-target:hover {
    transform: scale(1.2);
}
/* crosshair cursor */
#aim-arena {
    cursor: crosshair;
}